:root {
  --text-primary: #77736d;
  --text-secondary: #786e65;
  --text-light: #f9f6f2;

  --background-primary: #bbada0;
  --background-secondary: #fcf9f1;
  --button-bg-color: #8f7a66;

  --default-area: #cdc2b4;
  --area-2: #eee4da;
  --area-4: #ede0c8;
  --area-8: #f2b279;
  --area-16: #f39563;
  --area-32: #f07c5f;
  --area-64: #ef5d39;
  --area-128: #edd072;
  --area-256: #eac95d;
  --area-512: #ecd767;
  --area-1024: #f2db60;
  --area-2048: #ffe553;
}
