@import "../../design-tokens/scss-variables.scss";

.board {
  background-color: var(--background-secondary);
  padding: $spacer-l;
  color: var(--text-primary);
  position: relative;

  .board-header {
    justify-content: space-between;
    align-items: center;
  }

  .board-heading {
    font-size: 60px;
    margin: 0;
    display: inline-block;
  }

  .button {
    display: inline-block;
    text-align: center;
    background-color: var(--button-bg-color);
    border-radius: 3px;
    padding: 0 20px;
    color: var(--text-light);
    height: 40px;
    line-height: 42px;
    margin-top: $spacer-s;
    font-weight: 700;
    cursor: pointer;
  }
}
