@import "../../design-tokens/scss-variables";

.board {
  background-color: var(--background-secondary);
  padding: $spacer-l;
  color: var(--text-primary);
  position: relative;

  .board-header {
    justify-content: space-between;
    align-items: center;
  }

  .board-heading {
    font-size: 60px;
    margin: 0;
    display: inline-block;
  }

  .button {
    margin-top: $spacer-s;
  }
}
