@import "../../design-tokens/scss-variables.scss";

.button-container {
  height: 80px;
  width: 80px;
  color: var(--background-secondary);
  font-weight: 700;
  text-align: center;
  margin: 0 $spacer-xl;

  .button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    fill: var(--background-secondary);

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
