.board-item {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: #cbc1b6;

  .board-item-content {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    font-weight: 600;
    transform: translate(-50%, -50%);
  }

  .text-dark {
    color: var(--text-secondary);
  }

  .text-light {
    color: var(--text-light);
  }
}

.area {
  background-color: var(--default-area);
}
.area-2 {
  background-color: var(--area-2);
}
.area-4 {
  background-color: var(--area-4);
}
.area-8 {
  background-color: var(--area-8);
}
.area-16 {
  background-color: var(--area-16);
}
.area-32 {
  background-color: var(--area-32);
}
.area-64 {
  background-color: var(--area-64);
}
.area-128 {
  background-color: var(--area-128);
}
.area-256 {
  background-color: var(--area-256);
}
.area-512 {
  background-color: var(--area-512);
}
.area-1024 {
  background-color: var(--area-1024);
}
.area-2048 {
  background-color: var(--area-2048);
}
