@import "../../design-tokens/scss-variables.scss";

.board-play-area {
  background-color: var(--background-primary);
  border-radius: 3px;
  padding: $spacer-s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: $spacer-s;
  position: relative;
}
