.board-play-area {
  background-color: #BBADA0;
  border-radius: 3px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  position: relative;
}