@import "../../design-tokens/scss-variables.scss";

.score-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: $spacer-xs;
}

.score-area {
  text-align: center;
  background-color: #bbada0;
  padding: 6px 5px 3px 5px;
  border-radius: 3px;
  color: var(--text-light);
  font-weight: 700;

  .score-title {
    text-transform: uppercase;
    font-size: 13px;
    color: var(--area-2);
  }

  .score {
    font-size: 25px;
  }
}
