@import "../../design-tokens/scss-variables.scss";

.message-container {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  padding: 10px;
  text-align: center;
  background-color: rgba(238, 228, 218, 0.5);

  .message {
    color: var(--text-primary);
    font-size: 50px;
    font-weight: 700;
  }

  .button {
    display: inline-block;
    text-align: center;
    background-color: var(--button-bg-color);
    border-radius: 3px;
    padding: 0 $spacer-l;
    color: var(--text-light);
    height: 40px;
    line-height: 42px;
    margin-left: 9px;
    font-weight: 700;
    cursor: pointer;
  }
}
