.message-container {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  padding: 10px;
  text-align: center;
  background-color: rgba(238,228,218,.5);

  .message {
    color: #77736D;
    font-size: 50px;
    font-weight: 700;
  }

  .button {
    display: inline-block;
    text-align: center;
    background-color: #8F7A66;
    border-radius: 3px;
    padding: 0 20px;
    color: #F9F6F2;
    height: 40px;
    line-height: 42px;
    margin-left: 9px;
    font-weight: 700;
    cursor: pointer;
  }
}